
@{
    ViewBag.Title = "Tin tức";
}

@section css{
    <style>
        .table.table-condensed tbody tr td {
            padding: 12px 5px !important;
        }
    </style>
}

@section scripts{
    <script src="~/Assets/Js/Controller/News.js"></script>
}


@section currentNavBar{
    <li>
        <a href="/News" class="active">Tin tức</a>
    </li>
}

<div class="container-fluid container-fixed-lg">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                Table with export options
            </div>
            <div class="export-options-container pull-right"></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @*<div class="row">
                <div class="form-group col-md-4">
                    <label>Avatar</label>
                    <input type="text" class="form-control" name="fullname" id="fullname">
                </div>
                <div class="form-group col-md-6">
                    <label>Tiêu đề</label>
                    <input type="text" class="form-control" name="Title" id="Title">
                </div>
                <div class="form-group col-md-2">
                    <label>Xuất bản?</label>
                    <span id="btnSearchCustomer" class="form-control input-group-addon" style="border-left:1px solid rgba(0,0,0,0.07);color:rgba(98,98,98,0.9);">
                        <i class="pg-search"></i>
                    </span>
                </div>
            </div>*@
            <div class="table-responsive">
                <table class="table table-hover table-condensed" id="condensedTable">
                    <thead>
                        <tr>
                            <td>Avatar</td>
                            <td>Tiêu Đề</td>
                            <td>Xuất Bản?</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
            <div id="pager" class="pagination pagination-right">
                <ul id="paginationUL"></ul>
            </div>
        </div>
    </div>
</div>
