@{
    ViewBag.Title = "ListByCate";
}
<div class="bt-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="pages/category.html">Bestselling</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="column-left" class="col-sm-3 hidden-xs">
            <div class="box bt-category not-animated" data-animate="fadeInLeft" data-delay="200">
                <div class="box-heading"><h2>Categories</h2></div>
                <div class="box-content">
                    <div class="box-category" id="boss-category">
                        <ul class="box-category">
                            <li>
                                <a href="pages/category.html" class="list-group-item">Nulla ut venenatis (0)</a>
                            </li>
                            <li>
                                <a href="pages/category.html" class="list-group-item">Cameras (3)</a>
                            </li>
                            <li>
                                <a href="pages/category.html" class="list-group-item">Scanners Levies (0)</a>
                            </li>
                            <li>
                                <a href="pages/category.html" class="list-group-item">New Arrival (21)</a>
                            </li>
                            <li>
                                <a href="pages/category.html" class="list-group-item">On Sales (10)</a>
                            </li>
                            <li class="child active">
                                <a href="pages/category.html" class="list-group-item active">Bestselling (12)</a>
                                <ul class="item_child">
                                    <li><a href="pages/category.html" class="list-group-item">Amet (0)</a></li>
                                    <li><a href="pages/category.html" class="list-group-item">Curabitur (0)</a></li>
                                    <li><a href="pages/category.html" class="list-group-item">Dolor Sit (0)</a></li>
                                    <li><a href="pages/category.html" class="list-group-item">Euismod (0)</a></li>
                                    <li><a href="pages/category.html" class="list-group-item">Lorem (0)</a></li>
                                    <li><a href="pages/category.html" class="list-group-item">Maecenas (0)</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="pages/category.html" class="list-group-item">Your Tab (13)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bt-featured box">
                <div class="box-heading"><h2>Featured</h2></div>
                <div class="box-content">
                    <div class="box-product">
                        <div class="box_item">
                            <div class="image"><a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h7.jpg" alt="Morbi id accus antium doloremque" title="Morbi id accus antium doloremque" class="img-responsive" /></a></div>
                            <div class="prod-detail">
                                <div class="name"><a href="pages/product.html">Morbi id accus antium doloremque</a></div>
                                <p class="price">
                                    $602.00                              <span class="price-tax">Ex Tax: $500.00</span>
                                </p>
                            </div>
                            <div class="button-group">
                                <a href="pages/cart.html"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></a>
                                <a href="pages/wishlist.html" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart"></i></a>
                                <a href="pages/compare.html" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></a>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="image"><a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h2.jpg" alt="Dolorpelle accus antium" title="Dolorpelle accus antium" class="img-responsive" /></a></div>
                            <div class="prod-detail">
                                <div class="name"><a href="pages/product.html">Dolorpelle accus antium</a></div>
                                <div class="rating">
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                </div>
                                <p class="price">
                                    <span class="price-new">$110.00</span> <span class="price-old">$123.20</span>
                                    <span class="price-tax">Ex Tax: $90.00</span>
                                </p>
                            </div>
                            <div class="button-group">
                                <a href="pages/cart.html"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></a>
                                <a href="pages/wishlist.html" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart"></i></a>
                                <a href="pages/compare.html" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></a>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="image"><a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h18.jpg" alt="Suspendisse accus antium doloremque" title="Suspendisse accus antium doloremque" class="img-responsive" /></a></div>
                            <div class="prod-detail">
                                <div class="name"><a href="pages/product.html">Suspendisse accus antium doloremque</a></div>
                                <div class="rating">
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack fa-hidden"><i class="fa fa-star fa-stack-2x"></i></span>
                                </div>
                                <p class="price">
                                    <span class="price-new">$110.00</span> <span class="price-old">$122.00</span>
                                    <span class="price-tax">Ex Tax: $90.00</span>
                                </p>
                            </div>
                            <div class="button-group">
                                <a href="pages/cart.html"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></a>
                                <a href="pages/wishlist.html" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart"></i></a>
                                <a href="pages/compare.html" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></a>
                            </div>
                        </div>
                        <div class="box_item">
                            <div class="image"><a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h19.jpg" alt="Vestibulum accus antium doloremque" title="Vestibulum accus antium doloremque" class="img-responsive" /></a></div>
                            <div class="prod-detail">
                                <div class="name"><a href="pages/product.html">Vestibulum accus antium doloremque</a></div>
                                <div class="rating">
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                </div>
                                <p class="price">
                                    <span class="price-new">$98.00</span> <span class="price-old">$122.00</span>
                                    <span class="price-tax">Ex Tax: $80.00</span>
                                </p>
                            </div>
                            <div class="button-group">
                                <a href="pages/cart.html"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span></a>
                                <a href="pages/wishlist.html" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart"></i></a>
                                <a href="pages/compare.html" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-column">
                <a class="banner effect-shine" href="#">
                    <img class="img-responsive" src="/Assets/images/catalog/bt_leather/banner_column_left.jpg" alt="banner" title="banner">
                </a>
            </div>    <div class="box bt-tagcloud">
                <div class="box-heading">
                    <h2>Popular Tags</h2>
                </div>
                <div class="box-content" style="text-align:left;">
                    <a href="pages/category.html" style="font-size:22px;" title="cinema">cinema</a> <a href="pages/category.html" style="font-size:19px;" title="">digital</a> <a href="pages/category.html" style="font-size:22px;" title="apple">apple</a> <a href="pages/category.html" style="font-size:9px;" title="product">product</a> <a href="pages/category.html" style="font-size:25px;" title="electronics">electronics</a> <a href="pages/category.html" style="font-size:10px;" title="category">category</a> <a href="pages/category.html" style="font-size:25px;" title="EOS5D">EOS5D</a> <a href="pages/category.html" style="font-size:16px;" title="hp">hp</a> <a href="pages/category.html" style="font-size:13px;" title="canon">canon</a> <a href="pages/category.html" style="font-size:15px;" title="hd">hd</a>
                </div>
            </div>
            <div class="box bt-alphabet not-animated" data-animate="fadeInLeft" data-delay="200">
                <div class="box-heading"><h2>Quick Select</h2></div>
                <div class="box-content">
                    <div class="boss-alphabet">
                        <ul>
                            <li><a href="pages/category.html">a</a></li>
                            <li><a href="pages/category.html">b</a></li>
                            <li><a href="pages/category.html">c</a></li>
                            <li><a href="pages/category.html">d</a></li>
                            <li><a href="pages/category.html">e</a></li>
                            <li><a href="pages/category.html">f</a></li>
                            <li><a href="pages/category.html">g</a></li>
                            <li><a href="pages/category.html">h</a></li>
                            <li><a href="pages/category.html">i</a></li>
                            <li><a href="pages/category.html">j</a></li>
                            <li><a href="pages/category.html">k</a></li>
                            <li><a href="pages/category.html">l</a></li>
                            <li><a href="pages/category.html">m</a></li>
                            <li><a href="pages/category.html">n</a></li>
                            <li><a href="pages/category.html">o</a></li>
                            <li><a href="pages/category.html">p</a></li>
                            <li><a href="pages/category.html">q</a></li>
                            <li><a href="pages/category.html">r</a></li>
                            <li><a href="pages/category.html">s</a></li>
                            <li><a href="pages/category.html">t</a></li>
                            <li><a href="pages/category.html">u</a></li>
                            <li><a href="pages/category.html">v</a></li>
                            <li><a href="pages/category.html">w</a></li>
                            <li><a href="pages/category.html">x</a></li>
                            <li><a href="pages/category.html">y</a></li>
                            <li><a href="pages/category.html">z</a></li>
                            <li><a href="pages/category.html">#</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="col-sm-9">
            <script type="text/javascript" src="/Assets/javascript/bossthemes/cloud-zoom/cloud-zoom.1.0.3.js"></script>
            <div data-delay="400" data-animate="fadeInUp" class="block-cate-page fadeInUp animated">
                <a class="banner effect-shine" title="banner category" href="#">
                    <img class="img-responsive" src="/Assets/images/catalog/bt_leather/banner-category.jpg" alt="banner-category">
                </a>
            </div>      <div class="category-info no-animate" data-animate="fadeInUp" data-delay="300">
                <div class="image"><img src="/Assets/images/catalog/bt_leather/cate6.jpg" alt="Bestselling" title="Bestselling" class="img-thumbnail" /></div>
                <h2>Bestselling</h2>
                <p>Nam tristique porta ligula, vel viverra sem eleifend nec. Nulla sed purus augue, eu euismod tellus. Nam mattis eros nec mi sagittis sagittis. Vestibulum suscipit cursus bibendum. Integer at justo eget sem auctor auctor eget vitae arcu. Nam tempor malesuada porttitor. Nulla quis dignissim ipsum. Aliquam pulvinar iaculis justo, sit amet interdum sem hendrerit vitae. Vivamus vel erat tortor. Nulla facilisi. In nulla quam, lacinia eu aliquam ac, aliquam in nisl.</p>
            </div>
            <div class="product-filter">
                <div class="icon-refine" title="Refine Search"><i class="fa fa-bars"></i> <span></span></div>
                <!-- category refine search-->
                <div class="category-list">
                    <div class="bt-cate-item col-sm-4">
                        <a href="pages/category.html"><img src="/Assets/images/catalog/bt_product/h15.jpg" alt="Amet (0)" title="Amet (0)" class="img-responsive" /></a>
                        <a href="pages/category.html">Amet (0)</a>
                    </div>
                    <div class="bt-cate-item col-sm-4">
                        <a href="pages/category.html"><img src="/Assets/images/catalog/bt_product/h13.jpg" alt="Curabitur (0)" title="Curabitur (0)" class="img-responsive" /></a>
                        <a href="pages/category.html">Curabitur (0)</a>
                    </div>
                    <div class="bt-cate-item col-sm-4">
                        <a href="pages/category.html"><img src="/Assets/images/catalog/bt_product/h1.jpg" alt="Dolor Sit (0)" title="Dolor Sit (0)" class="img-responsive" /></a>
                        <a href="pages/category.html">Dolor Sit (0)</a>
                    </div>
                    <div class="bt-cate-item col-sm-4">
                        <a href="pages/category.html"><img src="/Assets/images/catalog/bt_product/h1.jpg" alt="Euismod (0)" title="Euismod (0)" class="img-responsive" /></a>
                        <a href="pages/category.html">Euismod (0)</a>
                    </div>
                    <div class="bt-cate-item col-sm-4">
                        <a href="pages/category.html"><img src="/Assets/images/catalog/bt_product/h17.jpg" alt="Lorem (0)" title="Lorem (0)" class="img-responsive" /></a>
                        <a href="pages/category.html">Lorem (0)</a>
                    </div>
                    <div class="bt-cate-item col-sm-4">
                        <a href="pages/category.html"><img src="/Assets/images/catalog/bt_product/h2.jpg" alt="Maecenas (0)" title="Maecenas (0)" class="img-responsive" /></a>
                        <a href="pages/category.html">Maecenas (0)</a>
                    </div>
                </div>
                <!-- End category refine search-->
                <div class="link-compare"><a href="pages/compare.html" id="compare-total">Product Compare (4)</a></div>
                <div class="limit-sort hidden-xs">
                    <div class="box_sort">
                        <label class="control-label" for="input-sort">Sort By:</label>
                        <label>
                            <select id="input-sort" class="form-control selectpicker">
                                <option value="Default" selected="selected">Default</option>
                                <option value="pages/category.html">Name (A - Z)</option>
                                <option value="pages/category.html">Name (Z - A)</option>
                                <option value="pages/category.html">Price (Low &gt; High)</option>
                                <option value="pages/category.html">Price (High &gt; Low)</option>
                                <option value="pages/category.html">Rating (Highest)</option>
                                <option value="pages/category.html">Rating (Lowest)</option>
                                <option value="pages/category.html">Model (A - Z)</option>
                                <option value="pages/category.html">Model (Z - A)</option>
                            </select>
                        </label>
                    </div>
                    <div class="display hidden-xs">
                        <button type="button" id="grid-view" class="btn-grid" title="Grid"><i class="fa fa-th"></i></button>
                        <button type="button" id="list-view" class="btn-list" title="List"><i class="fa fa-th-list"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h1.jpg" alt="Assumenda accus antium" title="Assumenda accus antium" class="img-responsive" /></a>
                            <div class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                <span class="fa fa-stack fa-hidden"><i class="fa fa-star fa-stack-2x"></i></span>
                                <span class="fa fa-stack fa-hidden"><i class="fa fa-star fa-stack-2x"></i></span>
                            </div>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="#" data-stock="@(Model.Quantity)"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Assumenda accus antium</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $122.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="#" data-stock="@(Model.Quantity)"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h3.jpg" alt="Donec vitae accus antium" title="Donec vitae accus antium" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="#" data-stock="@(Model.Quantity)"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Donec vitae accus antium</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                <span class="price-new">$110.00</span>
                                <span class="price-old">$122.00</span>
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="#" data-stock="@(Model.Quantity)"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/3.png" alt="Duis lacus tempor" title="Duis lacus tempor" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Duis lacus tempor</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                <span class="price-new">$110.00</span>
                                <span class="price-old">$123.20</span>
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/1.png" alt="matis eros gravida" title="matis eros gravida" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">matis eros gravida</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $122.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html.html"><img src="/Assets/images/catalog/bt_product/h7.jpg" alt="Morbi id accus antium doloremque" title="Morbi id accus antium doloremque" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html.html">Morbi id accus antium doloremque</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $602.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h8.jpg" alt="Nulla accus antium dolor quemque" title="Nulla accus antium dolor quemque" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Nulla accus antium dolor quemque</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $1,202.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h9.jpg" alt="Nulla accus antium doloremque" title="Nulla accus antium doloremque" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Nulla accus antium doloremque</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $2,000.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h11.jpg" alt="Palm Treo Pro accus antium" title="Palm Treo Pro accus antium" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Palm Treo Pro accus antium</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $337.99
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/2.png" alt="rhoncus tortor" title="rhoncus tortor" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">rhoncus tortor</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $122.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h14.jpg" alt="Sed sit accus antium doloremque" title="Sed sit accus antium doloremque" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Sed sit accus antium doloremque</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $242.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h15.jpg" alt="Sed sit accus antium doloremque" title="Sed sit accus antium doloremque" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Sed sit accus antium doloremque</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $122.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-list col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="pages/product.html"><img src="/Assets/images/catalog/bt_product/h16.jpg" alt="Similique accus antium doloremque" title="Similique accus antium doloremque" class="img-responsive" /></a>
                            <div class="button-group bt-button-group">
                                <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i></a>
                                <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                                <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                                <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="pages/product.html">Similique accus antium doloremque</a></div>
                            <div class="description">
                                <p>
                                    Paragraph text
                                    Nullam nec felis elit. Aliquam elementum tellus a turpis porta at ..
                                </p>
                            </div>
                            <div class="price">
                                $1,202.00
                            </div>
                        </div>
                        <div class="button-group bt-button-group button-list">
                            <a class="btn-cart" href="pages/cart.html"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                            <a class="btn-wishlist" title="Add to Wish List" href="pages/wishlist.html"><i class="fa fa-heart"></i></a>
                            <a class="btn-compare" title="Compare this Product" href="pages/compare.html"><i class="fa fa-retweet"></i></a>
                            <button title="Quick View" class="sft_quickshop_icon"><span class="qs_icon"><i class="fa fa-search"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result-pagination">
                <div class="results pull-left">Showing 1 to 12 of 12 (1 Pages)</div>
                <div class="links pull-right"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            // Product List
            $('#list-view').click(function () {
                $('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');
                localStorage.setItem('display', 'list');
            });
            // Product Grid
            $('#grid-view').click(function () {
                // What a shame bootstrap does not take into account dynamically loaded columns
                cols = $('#column-right, #column-left').length;
                if (cols == 2) {
                    $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-6 col-xs-12');
                } else if (cols == 1) {
                    $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12');
                } else {
                    $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-3 col-xs-12');
                }
                localStorage.setItem('display', 'grid');
            });
            if (localStorage.getItem('display') == 'list') {
                $('#list-view').trigger('click');
            } else {
                $('#grid-view').trigger('click');
            }
        });
    </script>
</div>
